:root {
    --primary-color: #DAA520;
    --secondary-color: #25D366;
    --accent-color: #ffffff;
}

/* Font */

@font-face {
    font-family: Avenir;
    src: url(Assets/avenir-cdnfonts/avenir_roman_12.otf);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.8em;
}

p {
    font-size: 2em;
}

/* Reset */

body, ul, h1, h2, p, button{
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Mobile first styles */
* {
    scrollbar-width:thin;
    scroll-behavior:smooth;
}

body {
    font-family: Avenir;
    color: var(--primary-color);
    font-size: 16px;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
}

.top-of-page {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    position: sticky;
    top: 0px;
    flex-wrap: nowrap;
}

.lm-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 80px;
    color: var(--accent-color);
    text-wrap: nowrap;
}

header {
   padding: 100px 0px;
   border-top: 1px solid;
}

.header-subtitle {
    font-size: 1em;
}

.logo {
    height: 30px;
    margin-right: 5px;
}

header button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--accent-color);
}

header button {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 20px;
    text-wrap: nowrap;
    width: max-content;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.f-hyperlink{
    display: flex;
    color: #008000;
    width: max-content;
    align-items: center;
    flex-wrap: nowrap;
}

.f-hyperlink:hover {
    border-bottom: 1px solid;
}


.features div {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    padding: 20px 0px;
}

.features div:last-child {
    border-bottom: 0px;
}

.f-no {
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: max-content;
    padding: 20px;
    color: var(--accent-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.ftc-item {
    color: #008000;
    /* text-wrap: nowrap; */
}

.footer-content ul li {
    font-size: 1em;
    margin-top: 10px;
}

.footer-content div ul {
    list-style-type: none;
}

.ftci-number-hyperlink {
    text-decoration: underline;
}

.ftci-icons-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.ftci-icons-wrapper li a{
    display: flex;
    align-items: center;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer div {
    margin-bottom: 20px;
}

.footer div:last-child {
    margin-bottom: 0;
}

.brand-text {
    font-weight: bold;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.footer-top button {
    color: var(--accent-color);
    border-radius: 80px;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid;
    width: max-content;
}

.footer div button a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scolor {
    color: green;
}

.fbtm-des-text {
    font-size: 0.8em;
}

.fbtm-text {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
}


/* Tablet Styles */

@media screen and (min-width:768px){
    body {
        font-size: 18px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        align-items: end;
    }

    .features div:last-child {
        border-bottom: 1px solid;
    }

    .footer-top {
        margin-right: 20px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        align-items: start;
    }

    .footer-bottom {
        grid-column: span 2;
    }
}

/* Desktop Styles */

@media screen and (min-width:1024px){
    body {
        font-size: 20px;
    }

    .section {
        padding-left: 100px;
        padding-right: 100px;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .header * {
        grid-column: 1/12;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 60px;
    }

    .features div{
        grid-column: span 6;
    }
}
